<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerAddress" value=""/>
    <add key="MessageCount" value="100000000"/>
    <add key="MessageSize" value="1024"/>
    <!-- Oneway, Sync, Async, Callback -->
    <add key="Mode" value="Oneway"/>
  </appSettings>
</configuration>